@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
	margin:0;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

body{
	background-color:#6D7470;
	color:#fff; 
}
h1,h2,h3{
	font-weight: 400;
	font-size:1.8rem;
}
a{
	color:#A4C4B5;
}
input:focus{
	outline:none;
}

.main-wrapper{
	margin:5% auto;
	/*border:1px solid #fff;*/
	width: 960px;
	overflow: hidden;
	/*display:inline;*/
	text-align: center;
	/*align-items: center;
	justify-content: center;*/

}

.left-side{
	float:left;
	width:460px;
	background: url("bird-bg.jpg") no-repeat center;
	height: 600px;


}


.right-side{
	/*border:1px solid red;*/
	float:left;
	width:460px;
	background-color: #fff;
	color:#8B8D8A;
	padding: 10px;
}

.right-side h1{
	font-family: 'Pacifico', cursive;
	padding-top:40px;
}
.right-side h2{
	font-size: 1.2rem;
	font-weight:bold;
	margin:50px 0;
}

.forget-password{
	font-size:.8rem;
	float: right;
	padding-top:20px ;
}

.google-sign-in{
	font-weight: bold;
}

.google-sign-in img{
	vertical-align:middle
}

.google-sign-in span{
	display:inline;
	padding-left: 10px;
	color:#000;

}

.btn-sign-in{
	background-color: #696969;
	color:#fff;
	border:none;
	border-radius: 25px;
	cursor: pointer;
	padding:10px 50px;
	/*font-weight: bold;*/
	font-size: 1rem;
	margin-top:50px;
}

.btn-sign-in:hover{
	box-shadow:2px 5px rgba(0,0,0,.2);
}
.username-field,.password-field,.forget-password{
	margin:0 60px;
}

.input-fields label{
	float:left;
	font-size: .9rem;
}

.input-fields input{
	border:none;
	border-bottom:1px solid #8B8D8A;
	box-sizing: border-box;
	padding:10px 0;
	/*margin:2px 0;*/
	width:100%;
	font-family: 'Nunito', sans-serif;
	font-weight:500;
	font-size: 1.6rem;
	transition: border-color 0.2s;
	
}

.password-field label{
	margin-top: 20px;
}

input[type="password"]{
	-webkit-text-security: sqaure;
}