@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
	margin:0;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

body{
	background-color:#6D7470;
	color:#fff; 
	zoom:90%;
}
h1,h2,h3{
	font-weight: 400;
	font-size:1.8rem;
}
a{
	color:#A4C4B5;
}
input:focus{
	outline:none;
}

.main-wrapper{
	margin:5% auto;	
	width: 1140px;
	overflow: hidden;
	text-align: center;

}

.left-side{
	float:left;
	width:590px;
	background: url("../img/bird-bg.jpg") no-repeat center;
	background-size: cover;
	height: 714px;
}

.left-side .text{
	line-height: 1.0rem;
	margin-top:97%;
	text-align: center;
	padding:0 60px;
}

.right-side{
	/*border:1px solid red;*/
	float:left;
	width:530px;
	background-color: #fff;
	color:#8B8D8A;
	padding: 10px;
}

.right-side h1{
	font-family: 'Pacifico', cursive;
	padding-top:30px;
}
.right-side h2{
	font-size: 1.2rem;
	font-weight:bold;
	margin:40px 0;
}

.forget-password{
	font-size:.8rem;
	float: right;
	padding-top:20px ;
}

.google-sign-in{
	font-weight: bold;
}

.google-sign-in img{
	vertical-align:middle
}

.google-sign-in span{
	display:inline;
	padding-left: 10px;
	color:#000;

}

.btn-sign-in{
	background-color: #696969;
	color:#fff;
	border:none;
	border-radius: 25px;
	cursor: pointer;
	padding:10px 50px;
	font-weight: 400;
	font-size: 1rem;
	margin:30px 25% 30px;
	font-family: 'Nunito', sans-serif;
 
}

.btn-sign-in:hover{
	box-shadow:2px 5px rgba(0,0,0,.2);
}
.username-field,.password-field,.forget-password{
	margin:0 60px;
}

.input-fields label{
	float:left;
	font-size: .9rem;
}

.input-fields input{
	border:none;
	border-bottom:1px solid #ccc;
	box-sizing: border-box;
	padding:10px 0;
	/*margin:2px 0;*/
	width:100%;
	font-family: 'Nunito', sans-serif;
	font-weight:500;
	font-size: 1.6rem;
	transition: border-color 0.2s;
	
}

.password-field label{
	margin-top: 20px;
}


.lines{
	 width:50%; 
	 text-align:center;
	 border-bottom: 1px solid #ccc;
	 line-height:0.1em; 
	 margin:30px 25% 30px;
	  }

.lines span{
	padding:0 10px;
	background: #fff;
}

.alert{
	color:red;
	background-color: #F8D7DA;
	padding:15px 15px;
	border-radius: 3px;
	text-align: left;
	margin:-20px 0 20px;
}

.hide{
	display: none;
}

.create-account{
	margin-bottom:47px;
}